language: node_js
node_js:
   - "stable"

jobs:
  include:
    - stage: test
      sudo: required
      install:
       - sudo apt-add-repository -y ppa:fish-shell/release-2
       - sudo apt-get update
       - sudo apt-get -y install fish
      script:
       - curl -Lo ~/.config/fish/functions/fisher.fish --create-dirs git.io/fisherman
       - fish -c "fisher fishtape ."
       - fish -c "fishtape tests/*.test.fish"

    - stage: deploy
      if: branch = master AND type = push
      script: npm run docs:build
      deploy:
       provider: pages
       skip-cleanup: true
       github-token: $GITHUB_TOKEN
       keep-history: true
       local-dir: _book
